
*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}


header {

    background-color:#b78880;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 40px;

}

header i {
    color: brown;
    font-size: 70px;

}

header h1 {

    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.list-01 ul {
    justify-content: center;
    gap: 15px;
    display: flex;
}

.list-01 ul li {
    list-style: none;
    
}


.list-01 ul li a {
    text-decoration: none;
    color: white
}

header div ul li :hover{
color: black;
transition: 0.8s;
}


.sessao01 {
    padding: 150px;
    background-color: #c5958c;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.sessao01 i {
    font-size: 30px;

}
.sessao02 i {
    font-size: 30px;

}

.sessao01 div {
    width: 380px;
    height: 600px;
    background-color: #c5958c;
    border-radius: 10px;
}

.sessao01 div p { 
    color: aliceblue;
    font-size: 20px;
    display: contents;
    justify-content: center;
}
.sessao01 div h3 {
    color: aliceblue;
    font-size: 25px;
}





.caixa1 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.caixa2 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.caixa3 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.sessao01 span {
    color: #fffb00;
    font-size: 30px;
    font-weight: 400;
}




.sessao02 {
    padding: 150px;
    background-color: #c5958c;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.sessao02 div {
    width: 380px;
    height: 600px;
    background-color: #c5958c;
    border-radius: 10px;
    padding: 5px;
}
.sessao02 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.sessao02 p {
       color: aliceblue;
    font-size: 20px;
   display: contents;
    justify-content: center;

}
.sessao02 div:hover {
    box-shadow: 20px 20px 30px black;
    transition: 0.8s;
}


.contatos-00{
    background-color:  #c99991;
    padding: 15px;
    color: white
    
}

.contatos-01{
    background-color: #c99991;
    padding: 15px;
    font-weight: 900;
    color: white;
}



.contatos-02 {
    background-color:#c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-02 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
    
}

.contatos-03 {
    background-color: #c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-03 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-04 {
    background-color: #c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-04 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-05 {
    background-color:#c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-05 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-06 {
    background-color: #c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-06 ul {
    background-color: #c99991;
    padding: 10px;
}

.contatos-06 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-07{
    background-color: #c99991;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-07 ul{
    justify-content: start;
    gap: 8px;
    display: flex;
    align-items: start;
    padding: 3px;
    list-style: none;
}


.contatos-08 {
    background-color: #c99991;
    padding: 5px;
    color: white;
    font-weight: 900;
}

.contatos-08 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

footer {
    background-color: #c08e85;
    padding: 10px;
    text-align: center;
}

footer p {
    color: black;
    font-weight: 900;
    font-size: 25px;
}

footer i {
    color:brown;
    font-size: 50px;
}

footer P:hover{
color: white;
transition: 0.8s;

}
    


  




 