header {

    background-color: #095044;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 40px;

}

header i {
    color: rgb(12, 230, 175);
    font-size: 70px;

}

header h1 {

    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.list-01 ul {
    justify-content: center;
    gap: 15px;
    display: flex;
}

.list-01 ul li {
    list-style: none;
    
}


.list-01 ul li a {
    text-decoration: none;
    color: white
}

.contatos-00{
    background-color:  #0f5348;
    padding: 15px;
    color: white;
    
}

.contatos-01{
    background-color: #0f5348;
    padding: 15px;
    font-weight: 900;
    color: white;
}



.contatos-02 {
    background-color:#0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-02 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
    
}

.contatos-03 {
    background-color: #0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-03 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-04 {
    background-color: #0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-04 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-05 {
    background-color: #0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-05 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-06 {
    background-color: #0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-06 ul {
    background-color: #0f5348;
    padding: 10px;
}

.contatos-06 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-07{
    background-color: #0f5348;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-07 ul{
    justify-content: start;
    gap: 8px;
    display: flex;
    align-items: start;
    padding: 3px;
    list-style: none;
}


.contatos-08 {
    background-color: #0f5348;
    padding: 5px;
    color: white;
    font-weight: 900;
}

.contatos-08 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}



    


  




 