* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #6b4a44;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

}


.formulario-01 {
    height: 380px;
    width: 330px;
    background-color: #b78880;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    padding: 6px;
}

.btn-form{
    background-color:#a05143d5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.formulario-01 i{
    font-size: 45px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-form:hover{
    background-color: goldenrod;
    transition: 0.8s;
    color: black;
}

h2, p {
margin-top: 15px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
text-align: center;
}